@model CivikeyWebsite.Models.KeyboardSubmittedMailModel
<html>
<head>
    <title>A Keyboard has been uploaded</title>
</head>
<body>
    <p>A new keyboard has been submitted by @Model.Author</p>
    <p>Please make sure that the keyboard is safe before adding it to the library</p>
    <p>
        Author : @Model.Author<br />
        Email : @Model.Email <br />
        Keyboard name : @Model.Name <br />
        Keyboard description : 
    </p>
    <p>
        @Model.Description
    </p>
</body>
</html>