@model CiviKey.ViewModel.RoadmapViewModel
@{
@*Feature display part*@
    <div class="progress-list-of-features" data-id="@ViewBag.CurrentRoadmapId">
        <div class="accordion" id="accordion2">
            @{
                int i = 0;
                foreach( CiviKey.ViewModel.CategoryViewModel category in Model.CategorizedFeatures.Keys )
                {
                    i++;
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <div class="collapse-image colapsed">
                        </div>
                        <img class="category-img" src="@Url.Content( "~/Content/images/CategoryIcon/" + @category.IconName )" />
                        <h2 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse@(i)">
                            @category.Name (@Model.CategorizedFeatures[category].Count)
                        </h2>
                    </div>
                   <div id="collapse@(i)" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @Html.Partial( "_FeatureCategoryView", Model.CategorizedFeatures[category] )
                        </div>
                    </div>
                </div> 
                }
            }
        </div>
    </div>
    
    
@* Version Download part *@
    <div class="release-info-main-container">
        <div class="release-info-container @if( !Model.HasRelease )
                                           {@("disabled")}">
            <p>Version @Model.Name</p>
            @if( !Model.HasRelease )
            {
                <p class="roadmap-progress-p">En cours de développement</p>
            }
            else
            {
                <div class="feature-download-btn">
                    <a href="#" class="progress-download-link" title="Téléchargement">&nbsp;</a>
                </div>
            }
        </div>
        
        <div class="mode-toggle-container release-info-container">
            <p>Changer de vue</p>
            <a href="#" title="Classer par nouveautés" id="mode-toggle-classic" class="mode-toggle-img">&nbsp</a>
        </div>
    </div>
}

<script type="text/javascript">
    (function () {
        $("#mode-toggle-classic").click(function () {
            $.get("/Progress/GetFeatureView/@ViewBag.CurrentRoadmapId?type=classic", function (data) {
                $("#featureList").html(data);
                document.CK.AjaxCallbacks.onProgressCategoryChangeSuccess("classic");
            })
        });

        $(".collapse").collapse({toggle: false});
    } ())
</script>    