@model CiviKey.ViewModel.RoadmapViewModel
           
@*Feature display part*@
<div class="progress-list-of-features" data-id="@ViewBag.CurrentRoadmapId">
    <h2>Nouvelles fonctionnalités</h2>
    @Html.Partial( "_FeatureCategory", Model.NewFeatures )
    <h2>Fonctionnalités améliorées</h2>
    @Html.Partial( "_FeatureCategory", Model.UpdatedFeatures )
    <h2>Fonctionnalités disponibles</h2>
    @Html.Partial( "_FeatureCategory", Model.AvailableFeatures )
    <h2>Fonctionnalités non disponibles</h2>
    @Html.Partial( "_FeatureCategory", Model.UnavailableFeatures )
</div>

@* Version Download part *@
@{
    if( Model.Name != "All" )
    {
        <div class="release-info-container">
            <p>Version @Model.Name</p>
    <div class="feature-download-btn"></div>
        </div>
    }
}
