@model IList<CiviKey.ViewModel.FeatureViewModel>
@Html.CK().Scripts.ByName().IncludeJS( "progress.js" ).IncludeJS( "jquery.unobtrusive-ajax.js" )
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="progress-content">
    <div class="progress-timebar">
        <div class="progress-timebar-container">
            <div class="progress-bar-begin">
            </div>
            <ul id="timeline-buttons">
                <li>
                    @Ajax.ActionLink( "Existant", "GetFeatureView", new { id = 0 }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "featureList",
                   OnSuccess = "document.CK.AjaxCallbacks.onProgressGetFeatureViewSuccess"
               }, new { @class = "timeline-feature-link roadmap-0 timeline-selected" } )
                </li>
                @foreach( CiviKey.Models.tRoadMap item in ViewBag.Roadmaps )
                {
                    <li>
                        @Ajax.ActionLink( item.Name, "GetFeatureView", new { id = @item.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "featureList",
                            OnSuccess = "document.CK.AjaxCallbacks.onProgressGetFeatureViewSuccess"
                        }, new { @class = "timeline-feature-link roadmap-" + item.Id } )
                    </li>
                }
            </ul>
        </div>
        <div class="progress-bar-end">
        </div>
        <div style="clear: both;">
        </div>
    </div>
    <div id="featureList">
        @Html.Partial( "_FeatureList", Model )
    </div>
</div>
