@model CiviKey.ViewModel.RoadmapViewModel
@Html.CK().Scripts.ByName().IncludeJS("progress.js").IncludeJS("jquery.unobtrusive-ajax.js").IncludeJS("jquery-ui-1.8.19.min.js").IncludeJS("setSponsor-1.0.0.js").IncludeJS("feature.js").IncludeJS("bootstrap.js")
@Html.CK().Css.IncludeCss("/Content/themes/base/jquery.ui.dialog.css").IncludeCss("/Content/themes/base/jquery.ui.core.css").IncludeCss("/Content/themes/base/jquery.ui.theme.css")
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div id="dialog-container">
</div>
<div class="progress-content">
    <div class="progress-title">
        Cette page présente les versions disponibles et à venir de CiviKey. La colonne de gauche vous permet de naviguer entre les différentes versions. Les versions en petits caractères sont en cours de développement.
    </div>
    <div class="progress-timebar">
        <div class="progress-timebar-container">
            <div class="timeline-container">
                <ul id="timeline-buttons">
                    @foreach( CiviKey.Models.tRoadMap item in ViewBag.Roadmaps )
                    {
                        string additionalClass = item.Id == Model.Id ? "timeline-selected " : " ";
                        additionalClass += item.HasRelease ? "roadmap-hasrelease " : " "; 
                        <li>
                            @Ajax.ActionLink( item.Name, "GetFeatureView", new { id = @item.Id, type = ViewBag.RoadmapViewType }, new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "featureList",
                                OnSuccess = "document.CK.AjaxCallbacks.onProgressGetFeatureViewSuccess"
                            }, new { @class = string.Format("timeline-feature-link roadmap-{0} {1}", item.Id, additionalClass) } )
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="progress-bar-begin">
        </div>
        <div style="clear: both;">
        </div>
    </div>
    <div id="featureList">
    @if( ViewBag.RoadmapViewType == "classic" )
    {
        @Html.Partial( "_RoadmapView", Model )
    }
    else
    {
        @Html.Partial( "_CategorizedRoadmapView", Model )
    }
    </div>
    <div style="clear: both;">
    </div>
</div>
