@using CiviKey.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@RenderSection("Description", required: true )" />

    @{
        Html.CK().Css.ByName()
            .IncludeCss("Site")
            .IncludeCss("themes/base/bootstrap.css");
        Html.CK().Scripts.ByName().
            IncludeJS( "jquery-1.7.2.min.js",0).
            IncludeJS("layout.js", 1).
            IncludeJS("bootstrap-collapse.js").
            IncludeJS("bootstrap.js");
    }
    
    @Html.CK().Css.RenderCss()
    @Html.CK().Scripts.RenderJS()
</head>
<body>
    @helper IsSelected( Sections section )
        {
        @(section == (ViewBag.Section ?? Sections.Default) ? "selected" : string.Empty)
    }

    <div class="page">
        <div id="header">
       @*     <div class="beta-disclaimer"></div>*@
            <div class="header-container">
                <a href="@Url.Action("Index", "Home")"><img class="header-logo" alt="Logo Civikey" src="@Url.Content("~/Content/images/logo.png")" /></a>
                <div class="header-menu-container">
                <div class="moving-element-container">
                    <div class="moving-elem @ViewBag.Section"></div>
                </div>
                    <ul id="menu">
                        <li class="@IsSelected(Sections.Project) menuelem"><a href="@Url.Action("Index", "Project")">Le projet</a></li>
                        <li class="@IsSelected(Sections.Progress) menuelem"><a href="@Url.Action("Index", "Progress")">Roadmaps</a></li>
                        <li class="@IsSelected(Sections.Partners) menuelem"><a href="@Url.Action("Index", "Partners")">Partenaires</a></li>
                        <li class="@IsSelected(Sections.Contact) menuelem"><a href="@Url.Action("Index", "Contact")">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-background">
            <div id="main">
                @RenderBody()
            </div>
        </div>
        <div style="clear: both"></div>
        <div id="footer">
            <div class="footer-container">
                <img class="footer-logo" alt="Logo Invenietis" src="@Url.Content("~/Content/images/logo-invenietis.png")" />
                <div class="seperator"></div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="@Url.Action("Index","Project")">Le Projet</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("Index","Progress")">Roadmaps</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("Index","Partners")">Partenaires</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("Index","Contact")">Contactez-nous</a></li>
                    </ul>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>