@model CiviKey.ViewModel.HomeViewModel
                 


@section Description{
    Page d'accuile
}
@{
    Html.CK().Scripts.ByName().IncludeJS( "home.js" );

    string lastRoadmapDownloadableVersion;
    string lastRoadmapDownloadFilePath;
    
    if( String.IsNullOrWhiteSpace( Model.LastRoadmap.DownloadFileName ) )
    {
        lastRoadmapDownloadableVersion = Model.LastRoadmap.Name;
        lastRoadmapDownloadFilePath = "#";
    }
    else
    {
        lastRoadmapDownloadableVersion = CiviKey.Models.Helpers.GetVersionFromFileName( Model.LastRoadmap.DownloadFileName ).ToString();
        lastRoadmapDownloadFilePath = Url.Content( "~/Content/downloads/" + Model.LastRoadmap.DownloadFileName );
    }
    
    
}
<script>
    function addGaqPush() {
        if (typeof _gaq === "object") {
            _gaq.push(['_trackEvent', 'Download', 'zip', '@lastRoadmapDownloadFilePath']);
        }
    }
</script>
<div class="home-slider">
    <div class="home-slider-shadow-top"></div>
    <div class="home-slider-shadow-bottom"></div>
    <div class="home-slider-shadow-left"></div>
    <div class="home-slider-shadow-right"></div>
    <div class="home-slider-right">
    <ul class="slider-menu-block">
        <li class="selected slider-menu-elem" data-id="0" id="slide-clavier"><a href="#">Clavier virtuel</a></li>
        <li class="slider-menu-elem" data-id="1" id="slide-autoclick"><a href="#">Autoclick</a></li>
    </ul>
    </div>
    <div class="home-slider-left">
        <div class="home-slider-left-container">
            <div class="slider-image" data-slide="0">
                <div class="slide-text">
                    <div class="slide-text-top"><p class="slide-text-clavier">Clavier virtuel</p></div>
                    <div class="slide-text-bottom"><p>Testez le clavier virtuel hautement configurable de CiviKey.</p></div>
                </div>
                <img src="@Url.Content("~/Content/images/home-slide/claviervirtuel.PNG")"/>
            </div>
            <div class="slider-image" data-slide="1">
                <div class="slide-text">
                    <div class="slide-text-top"><p class="slide-text-autoclick">Autoclick</p></div>
                    <div class="slide-text-bottom"><p>Simulez clic gauche, clic droit, double clic et glisser-déposer sans utiliser les boutons de la souris !</p></div>
                </div>
                <img src="@Url.Content("~/Content/images/home-slide/autoclick.PNG")"/>
            </div>
        </div>
    </div>
</div>
<div class="home-download-container-top">
</div>
<div class="home-download-container-bottom">
    <a class="btn btn-large btn-primary" href="@lastRoadmapDownloadFilePath"><i class="icon-thumbs-up icon-white" style="margin-right:5px;"></i>Télécharger pour Windows</a>
    <p>Version @lastRoadmapDownloadableVersion</p>
</div>
<div class="home-main-container">
    <div class="home-main-news">
        <div id="home-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                @{
                    for( int i = 0; i < @Model.News.Count; i++ )
                    {
                    <div class="item @if( i == 0 )
                                     {@("active")}">@Html.Partial( "_NewsView", Model.News.ElementAt( i ) )</div>
                    }
                }
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div id="home-main-testimony">
        <div id="testimony-container">
        </div>
    </div>
    <div style="clear:both"></div>
</div>
