@model CiviKey.ViewModel.FeatureViewModel
@Html.CK().Scripts.ByName().IncludeJS( "setSponsor-1.0.0" ).IncludeJS( "feature.js" )
<div id="fb-root"></div>
<script type="text/javascript">
    $(function () {
        var param = window.JSON.parse('@Html.Raw( Json.Encode( Model.Sponsors ) )');
        var videoSource = window.JSON.parse('@Html.Raw( Json.Encode( Model.Videos ) )');

        var options = {
            width: 520,
            height: 4,
            parent: ".js-sponsor"
        }

        document.CK.setVideoSlider(videoSource);
        document.CK.setSponsorHtml(param, options);

        //facebook
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));

        //twitter
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");
    });

    

</script>
<div class="feature-content">
    <div class="feature-title">
        <div class="feature-title-logo">
        </div>
        <div class="feature-title-text" data-title="@Model.Title" data-version="@Model.RoadMapVersion">@Model.Title</div>
        <div style="clear: both;">
        </div>
    </div>
    <div class="feature-info">
        <div class="content-before-video">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="@Url.RouteUrl("Feature", new { version = Model.RoadMapVersion, name = Model.Title }, Request.Url.Scheme)" data-lang="fr">Tweeter</a>
            <div class="fb-like" data-href="@Url.RouteUrl("Feature", new { version = Model.RoadMapVersion, name = Model.Title }, Request.Url.Scheme)" data-send="false" data-layout="button_count" data-width="0" data-show-faces="false"></div>
            <h1 class="feature-section-title" >Description</h1>
            <div class="feature-description-text">@Html.Raw( Model.Description )</div>
            <h1 class="feature-section-title">Categories</h1>
            <div class="feature-description-text category">
                @string.Join( ", ", Model.Categories.Select( c => c.Name ) )
            </div>
        </div>
        @if(Model.Videos.Count > 0)
        {
        <h1 class="feature-section-title">Demo</h1>
        <div class="feature-description-text demovideo">
            @for( int i = 0; i < Model.Videos.Count; i++ )
            {
                <div class="feature-demo"  id="b@(i)">
                    <img alt="video de démonstration" class="feature-demo-image"src="http://img.youtube.com/vi/@Model.Videos.ElementAt( i ).VideoSource/mqdefault.jpg" />
                </div>
            }
            <div style="clear: both">
            </div>
            <div id="video">
                <div class="video-bar">
                    <div class="close">
                    </div>
                </div>
                <iframe width="520" height="390" src="" frameborder="0"></iframe>
            </div>
        </div>
        }
         @{
            if( Model.Sponsors.Count > 0)
            {
                <h1 class="feature-section-title">Sponsorisé par</h1>
                <div class="feature-description-text js-sponsor">
                </div>
            }
             
            if( Model.Participations.Count > 0)
            {
                <h1 class="feature-section-title">Developpé par</h1>
                <div class="feature-description-text development">
                    @foreach( var participation in Model.Participations )
                    {
                        <div class="development-company">
                          @*  @if(!participation.Key.IsOrganization) {@participation.Key.Name @(" :") }
                            @for( int i = 0; i < participation.Value.Count; i++ )
                            {
                                @participation.Value[i].Name 
                                @String.Format( " ({0}%)", participation.Value[i].Percentage.ToString() )
                                if( i != participation.Value.Count - 1 )
                                {
                                    <text>
                                    -
                                    </text>
                                }
                            }*@

                            @participation.Key.Name @(" :")
                            @{
                                int percent = 0;
                            
                                for( int i = 0; i < participation.Value.Count; i++ )
                                {

                                    percent += participation.Value[i].Percentage;
                                
                                }
                                @String.Format( " {0}%", percent )
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
