<div class="container">
    <h1>Principales fonctionnalités </h1>
    <ul class="grid cs-style-3">
        <li>
            <figure>
                <div class="img-wraper" style="background: #527b85">
                    <img src="@Url.Content("~/Content/images/mouse.png")" alt="img01" width="128">
                </div>
                <figcaption>
                    <h3>Déplacer la souris</h3>
                    <span>Plusieurs façons de déplacer la souris : à l'aide du "Radar" ou du "Damier"</span>
                    <a href="#" ><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #598b5b">
                    <img src="@Url.Content("~/Content/images/click.png")" alt="img02">
                </div>

                <figcaption>
                    <h3>Cliquer</h3>
                    <span>Grâce à l'Auto-clique, vous pouvez effectuer n'importe quel clique.</span>
                    <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #535078">
                    <img src="@Url.Content("~/Content/images/keyboard.png")" alt="img04">
                </div>
                <figcaption>
                    <h3>Saisie de texte</h3>
                    <span>Utiliser le clavier visuel avec la prediction de mots pour taper du texte.</span>
                    <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #7d854e">
                    <img src="@Url.Content("~/Content/images/editor.png")" alt="img05">
                </div>
                <figcaption>
                    <h3>Editeur d'interface</h3>
                    <span>Utiliser l'éditeur pour adapter Civikey à un handicap spécifique.</span>
                    <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #8d7146">
                    <img src="@Url.Content("~/Content/images/puzzle.png")" alt="img03">
                </div>
                <figcaption>
                    <h3>Librairie de clavier</h3>
                    <span>Naviguer parmis les différentes configurations disponibles et téléchargez celle qui vous convient.</span>
                    <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background-color: #865b73">
                    <img src="@Url.Content("~/Content/images/headphone.png")" alt="img06">
                </div>
                <figcaption>
                    <h3>Support utilisateur</h3>
                    <span>Un problème ? Une question ? Vous pouvez contacter notre équipe <br />à tout moment.</span>
                    <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>

