<div class="container">
    <h1>Principales fonctionnalités </h1>
    <ul class="grid cs-style-3">
        <li>
            <figure>
                <div class="img-wraper" style="background: #527b85">
                    <img src="@Url.Content("~/Content/images/mouse.png")" alt="img01" width="128">
                </div>
                <figcaption>
                    <h3>Déplacer la souris</h3>
                    <span>Déplacez la souris à l'aide d'un simple contacteur.</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #598b5b">
                    <img src="@Url.Content("~/Content/images/click.png")" alt="img02">
                </div>
                <figcaption>
                    <h3>Cliquer</h3>
                    <span>Effectuez différents clics avec un seul et même bouton.</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #535078">
                    <img src="@Url.Content("~/Content/images/keyboard.png")" alt="img04">
                </div>
                <figcaption>
                    <h3>Saisir du texte</h3>
                    <span>Utilisez le clavier visuel avec le moteur de prédiction de mots Sybille pour saisir du texte.</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #7d854e">
                    <img src="@Url.Content("~/Content/images/editor.png")" alt="img05">
                </div>
                <figcaption>
                    <h3>Editeur d'interface</h3>
                    <span>Modifiez l'interface de Civikey pour l'adapter à un handicap spécifique.</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background: #8d7146">
                    <img src="@Url.Content("~/Content/images/puzzle.png")" alt="img03">
                </div>
                <figcaption>
                    <h3>Librairie de clavier</h3>
                    <span>Choisissez les claviers qui vous conviennent parmi ceux conçus par<br /> nos ergothérapeutes.</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div class="img-wraper" style="background-color: #865b73">
                    <img src="@Url.Content("~/Content/images/headphone.png")" alt="img06">
                </div>
                <figcaption>
                    <h3>Support utilisateur</h3>
                    <span>Un problème ? Une question ? Vous pouvez contacter notre équipe <br />à tout moment.</span>
                </figcaption>
            </figure>
        </li>
    </ul>
    <a href="@Url.Action( "Features", "Home" )" class="pull-right btn btn-default btn-lg ">En savoir plus</a>
</div>

