<div class="container" style="text-align:center">
    <h1>Partenaires et contacts</h1>
    <div class="partner">
        <div class="partner-info">
            <h2>Fondation Garche</h2>
            <p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:pfnt.garches@rpc.aphp.fr" target="_blank">pfnt.garches@rpc.aphp.fr</a></p>
            <p><i class="glyphicon glyphicon-globe"></i> <a href="http://www.handicap.org/">www.handicap.org</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/fondation-garches.png" )" />
        </div>
    </div>
    <div class="partner">
        <div class="partner-info">
            <h2>Invenietis</h2>
            <p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:support@invenietis.com" target="_blank">support@invenietis.com</a></p>
            <p><i class="glyphicon glyphicon-globe"></i> <a target="_blank" href="http://invenietis.com/" >invenietis.com</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/invenietis.png" )" />
        </div>
    </div>
    <div class="partner">
        <div class="partner-info">
            <h2>Alcatel-Lucent</h2>
            <p><i class="glyphicon glyphicon-globe"></i> <a target="_blank" href="http://www.alcatel-lucent.com/" >www.alcatel-lucent.com</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/alcatel-lucent.png" )" />
        </div>
    </div>
    <div class="partner">
        <div class="partner-info">
            <h2>Fondation Steria</h2>
            <p><i class="glyphicon glyphicon-globe"></i> <a target="_blank" href="http://www.fondationsteria.org/">www.fondationsteria.org</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/fondation-steria.png" )" />
        </div>
    </div>
    <div class="partner">
        <div class="partner-info">
            <h2>IN'TECH INFO</h2>
            <p><i class="glyphicon glyphicon-globe"></i> <a target="_blank" href="http://www.intechinfo.fr/">www.intechinfo.fr</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/intech-info.png" )" />
        </div>
    </div>
    <div class="partner">
        <div class="partner-info">
            <h2>PFNT</h2>
            <p><i class="glyphicon glyphicon-globe"></i> <a target="_blank" href="http://www.handicap.org/?La-Plate-Forme-Nouvelles">handicap.org</a></p>
        </div>
        <div class="partner-logo">
            <img src="@Url.Content( "~/Content/images/partners/pfnt.png" )" />
        </div>
    </div>
</div>