@section scripts{
    @Scripts.Render( "~/bundles/scripts/localScroll" )
    <script>
        $('.feature-menu').localScroll({offset:-215}).affix({
            offset: {
                top:168
            }
        });
    </script>
}
<div id="top-features">
    <div class="container">
        <h1>Les fonctionnalités de Civikey</h1>
        <ul class="feature-menu">
            <li>
                <a href="#click">
                    <img src="@Url.Content("~/Content/images/features/mouse.png")" height="64" />
                    Souris
                </a>
            </li>
            <li>
                <a href="#keyboard">
                    <img id="keyboard-icon" src="@Url.Content( "~/Content/images/features/keyboard.png" )" height="64" />
                    Clavier
                </a>
            </li>
            <li>
                <a href="#scrolling" >
                    <img src="@Url.Content( "~/Content/images/features/scrolling.png" )" height="64" />
                    Défilement
                </a>
            </li>
            <li>
                <a href="#library">
                    <img src="@Url.Content( "~/Content/images/features/library.png" )" height="64" />
                    Bibliothèque
                </a>
            </li>
            <li>
                <a href="#editor" >
                    <img src="@Url.Content( "~/Content/images/features/editor.png" )" height="64" />
                    Editeur
                </a>
            </li>
            <li>
                <a href="#export">
                    <img src="@Url.Content( "~/Content/images/features/import.png" )" height="64" />
                    Partage
                </a>
            </li>
            <li class="clearfix"></li>
        </ul>
        <div id="click" class="row">
            <div class="col-md-6 col-sm-6">
                <img  class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_1.png" )" width="455" />
            </div>
            <div class="col-md-5 col-sm-6 col-md-offset-1">
                <h3>
                    Déplacements et clics souris sans efforts
                </h3>
                <p>
                    CiviKey intègre une méthode unique de pointage de la souris, basée sur un système de défilement.
                    Ceci, lié à un système de clic automatique, réduit considérablement
                    la fatigue liée à l’utilisation d’un ordinateur.
                </p>
            </div>
        </div>
        <hr />
        <div id="keyboard" class="row">
            <div class="col-md-5 col-sm-5">
                <h3>
                    Un clavier complet et multilingue
                </h3>
                <p>
                    Le clavier CiviKey s’adapte à toutes les langues : caractères latins,
                    cyrilliques, chinois, arabes, tous sont directement accessibles
                    sur n’importe quel clavier CiviKey.<br />
                    En plus de proposer la saisie de texte efficace, le clavier contient des touches configurables permettant de :

                    <ul>
                        <li>Lancer vos applications</li>
                        <li>Ouvrir un fichier de votre choix</li>
                        <li>Ouvrir vos pages internet préférées</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1 ">
                <img class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_5.png" )" width="455" />
            </div>
        </div>
        <hr />
        <div id="scrolling" class="row">
            <div class="col-md-6 col-sm-6">
                <img class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_3.png" )" width="455" />
               
            </div>
            <div class="col-md-5 col-sm-5 col-md-offset-1">
                <h3>
                    Le défilement
                </h3>
                <p>
                    Le défilement permet de bénéficier des deux fonctionnalités ci-dessus à l'aide de n'importe quel contacteur ce qui rend Civikey adapté à des pathologies liées à la motricité telles que la tétraplégie.
                </p>
            </div>
        </div>
        <hr />
        <div id="library" class="row">
            <div class="col-md-5 col-sm-5 ">
                <h3>
                    Une bibliothèque de claviers
                </h3>
                <p>
                    Les ergothérapeutes partenaires de Civikey mettent à disposition une bibliothèque de claviers.
                    Chacun d'eux est adapté spécifiquement à une application et à une pathologie.
                    Passez de l'un à l'autre simplement pour tirer pleinement parti de votre ordinateur.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1">

                <img class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_2.png" )" width="455" />
            </div>
        </div>
        <hr />
        <div id="editor" class="row">
            <div class="col-md-6 col-sm-6 ">
                <img class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_4.png" )" width="455" />
            </div>
            <div class="col-md-5 col-sm-5 col-md-offset-1">
                <h3>
                    L'éditeur de clavier
                </h3>
                <p>
                    Adaptez les claviers existants à vos besoins en ajoutant ou en supprimant des touches.
                    Vous pouvez même enregistrer des combinaisons de touches (CTRL + S, CTRL + V ...) pour les rejouer à l'indentique en un seul clic !
                </p>
            </div>
        </div>
        <hr />
        <div id="export" class="row">
            <div class="col-md-5 col-sm-5 ">
                <h3>
                    Import et export de clavier
                </h3>
                <p>
                    Partagez vos claviers sur plusieurs ordinateurs pour que ceux-ci vous suivent partout.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1">
                <img class="img-thumbnail" src="@Url.Content( "~/Content/images/screen/screen_6.png" )" width="455" />
            </div>
        </div>
    </div>
</div>