<section id="presentation">
    @Html.Partial( "_Presentation" )
    @section Scripts {
        <script>
            $(function () {
                $('#btn-download-application').click(function () {
                    ga('send', 'event', 'button', 'click', 'application', 1);
                });

                $('#btn-download-documentation').click(function () {
                    ga('send', 'event', 'button', 'click', 'documentation', 1);
                });
            });
        </script>
    }
</section>
<div id="partners-baner">
    <div class="container">
        <img src="@Url.Content( "~/Content/images/partners/grayscale/alcatel-lucent.png" )" />
        <img src="@Url.Content( "~/Content/images/partners/grayscale/fondation-garches.png" )" />
        <img src="@Url.Content( "~/Content/images/partners/grayscale/fondation-steria.png" )" />
        <img src="@Url.Content( "~/Content/images/partners/grayscale/intech-info.png" )" />
        <img src="@Url.Content( "~/Content/images/partners/grayscale/logo-small.png" )" />
        <img src="@Url.Content( "~/Content/images/partners/grayscale/pfnt.png" )" />
    </div>
</div>
<section id="description">
    @Html.Partial( "_Description" )
</section>

<section id="features">
    @Html.Partial( "_Features" )
</section>
<section id="contact">
    @Html.Partial( "_Partners" )
</section>