@model CiviKey.ViewModel.DownloadPageViewModel
@section Description{
    Page de téléchargement
}
@{
    string lastRoadmapDownloadableVersion;
    string lastRoadmapDownloadFilePath;

    if( String.IsNullOrWhiteSpace( Model.LastRoadmap.DownloadFileName ) )
    {
        lastRoadmapDownloadableVersion = Model.LastRoadmap.Name;
        lastRoadmapDownloadFilePath = "#";
    }
    else
    {
        lastRoadmapDownloadableVersion = CiviKey.Models.Helpers.GetVersionFromFileName( Model.LastRoadmap.DownloadFileName ).ToString();
        lastRoadmapDownloadFilePath = Url.Content( "~/Content/downloads/" + Model.LastRoadmap.DownloadFileName );
    }

    CiviKey.ViewModel.ReleaseNoteViewModel rn;
    ViewBag.Title = "CiviKey - Téléchargement";

    <script>
        function addGaqPush() {
            if (typeof _gaq === "object") {
                _gaq.push(['_trackEvent', 'Download', 'zip', '@lastRoadmapDownloadFilePath']);
            }
        }
    </script>
    
    <div class="release-note-download-link-container">
        <div class="release-note-download-link-inner-container">
            <a class="btn btn-large btn-primary" id="download-page-btn-download" href="@lastRoadmapDownloadFilePath"><i class="icon-thumbs-up icon-white" style="margin-right: 5px;"></i>Télécharger pour Windows</a>
            <p>Téléchargement : Version @lastRoadmapDownloadableVersion</p>
        </div>
    </div>
    <div class="release-note-list">
        <div class="release-note-list-description">
            <p>Liste des améliorations apportées à CiviKey : </p>
        </div>
        @for( int i = 0; i < Model.ReleaseNotes.Count; i++ )
        {
            rn = Model.ReleaseNotes[i];
        <div class="release-note-container">
            <div class="release-note-title-container">
                <h3 class="release-note-title">Version @rn.Version</h3>
                <p class="release-note-release-info">Mise en ligne le @rn.ReleaseDate.ToShortDateString()</p>
            </div>
            <div class="release-note-content">
                <div class="release-note-description-wrapper">
                    <p>
                        @Html.Raw( rn.HtmlContent )
                    </p>
                </div>
            </div>
        </div>
        }  
    </div>  
}


